<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <value>classpath:config/ehcache.xml</value>
        </property>
    </bean>

    <bean id="ehCacheClient" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager">
            <ref local="cacheManager"/>
        </property>
        <property name="cacheName">
            <value>commonCache</value>
        </property>
    </bean>

    <!-- ehcache -->
    <bean id="ehCache" class="EhcacheImpl" scope="singleton">
        <property name="cache">
            <ref local="ehCacheClient"/>
        </property>
    </bean>

</beans>